@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
h1{
color: #FFF;
font-family: Poppins;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 82px; /* 113.889% */
letter-spacing: -2px;
}